unsigned Seed      = 0;
int      Runs      = 10;
int      T         = 1000;

int      N         = 16;
int      G         = 50;
int      H         = 50;

double   K         = 1.25; 
double   B2        = 2;
double   Theta     = 0.1;
double   Eta       = 0.1;

double   C0        = 1;
double   C1        = 1;
double   C2        = 1;
double   C3        = 1;
double   C4        = 1;

double   V1        = 0.1;
double   V2        = 0.2;
double   V3        = 0.0;

double   x0        = 1;
double   y0        = 1;
double   z0        = 1;
double   X0        = 1;

double   e         = 2;
double   E         = 2;

double   Sigma     = 0.1;
double   Sigma_t   = 0.3;

/*
double   B0        = 8;
double   B1        = 1;
double   B2        = 4;
*/
/* not used: Mu, PE[0], PE[1], PE[2] */
