unsigned Seed      = 0;         \\ seed 
int      Runs      = 5;        \\ runs 
int      T         = 1500;      \\ time period of simulation
  
int      n         = 8;         \\ no. of commoners / group size
int      G         = 100;         \\ no. of groups
int      K         = 4;         \\ no. of candidate strategies
  
double   b         = 6;      \\ benefit factor
double   cx        = 1.0;       \\ cost of effort by commoners
double   cy        = 1;      \\ cost of punishment effort
double   cz        = 1;       \\ cost of norm effort 
  
double   k         = 0.125;       \\ take off from payoff of commoners if punished
double   delta     = 0.05;      \\ take off from payoff of leaders if punish
double   Theta     = 0.1;       \\ tax

double   Vc1       = 0.0;       \\ commoner random mutation probability
double   Vc2       = 0.01;       \\ commoner selective copying probability
double   Vc3       = 0.24;      \\ commoner optimization probability

double   Vl1       = 0.0;       \\ leader random mutation probability
double   Vl2       = 0.01;       \\ leader selective copying probability
double   Vl3       = 0.48;      \\ leader optimization probability

double   m         = 0.5;       \\ probability of selecting from other groups

double   X0        = 2;       \\ half effort of group
double   z0        = 0.125;       \\ half co-ordination effort leaders
double   e         = 4;         \\ efficiency parameter for z

double   s0        = 0.5;      
double   s1        = 0.5;

double   Lambda    = 10;

double   Sigma     = 0.1;
