unsigned Seed      = 0;
int      Runs      = 5;
int      T         = 10000;
int      Lambda    = 10;
  
int      n         = 8;
int      G         = 1000;  
int      H         = 1;
  
double   b         = 10;  
double   B         = 10;   
double   cx        = 1;
double   cy        = 1;
double   cz        = 1;  
double   cp        = 0.125;
double   cq        = 1;
  
unsigned L         = 5; 
double   k         = 0.5;
double   K         = 1;
double   delta     = 0.3;
double   DELTA     = 0.0;
  
double   Theta_ua  = 2;
double   Theta_da  = 0.0;
double   Eta_ua    = 0.0;
double   Eta_da    = 0.0;  

unsigned Vop       = 2;        // option 1, 2, 3
double   m         = 0.0;
double   Rho       = 0;      // probability that polity plays to us vs them game
  
double   x0        = 1;
double   y0        = 1;
double   z0        = 1;
double   X0        = 4;
double   Y0        = 1;  
  
double   e         = 1;
double   E         = 1;
  
double   Sigma     = 0.1;
double   Sigma_t   = 0.1;
