unsigned Seed      = 0;
int      Runs      = 2;
int      T         = 1500;
  
int      n         = 4;
int      G         = 20;  
int      H         = 50;
  
double   b         = 8;  
double   B         = 1;   
double   cx        = 1;
double   cy        = 1;
double   cz        = 1;     
  
unsigned L         = 5; 
double   k         = 1;
double   K         = 0.25;
double   delta     = 0.1;
double   DELTA     = 0.1;
  
double   Theta_u   = 0.5;
double   Theta_d   = 0.1;
double   Eta_u     = 0.1;
double   Eta_d     = 0.1;  

unsigned Vop       = 3;        // option 1, 2, 3
double   m         = 0.1;
double   Rho       = 0.2;      // probability that polity plays to us vs them game
  
double   x0        = 1;
double   y0        = 0.5;
double   z0        = 0.2;
double   X0        = 4;
double   Y0        = 4;  
  
double   e         = 4;
double   E         = 4;
  
double   Sigma     = 0.1;
double   Sigma_t   = 0.1;
