unsigned Seed      = 0;
int      Runs      = 2;
int      T         = 1500;
  
int      n         = 8;
int      G         = 20;  
int      H         = 50;
  
double   b         = 20;  
double   B         = 20;   
double   cx        = 1;
double   cy        = 1;
double   cz        = 0.5;     
  
unsigned L         = 2; 
double   k         = 0;
double   K         = 0;
double   delta     = 0;
double   DELTA     = 0;
  
double   Theta_u   = 0.1;
double   Theta_d   = 0.;
double   Eta_u     = 0.1;
double   Eta_d     = 0.;  

double   Vc1       = 0.0;         // commoner random mutation
double   Vc2       = 0.0;         // commoner selective copying
double   Vc3       = 0.25;        // commoner optimization
double   Vl1       = 0.0;         // leader random mutation
double   Vl2       = 0.0;         // leader selective copying
double   Vl3       = 0.25;        // leader optimization 
double   Vcf1      = 0.0;         // chief random mutation
double   Vcf2      = 0.0;         // chief selective copying
double   Vcf3      = 0.25;        // chief optimization 
double   m         = 0.1;
  
double   x0        = 1;
double   y0        = 0.5;
double   z0        = 0.2;
double   X0        = 4;
double   Y0        = 4;  
  
double   e         = 4;
double   E         = 4;
  
double   Sigma     = 0.1;
double   Sigma_t   = 0.1;
