unsigned Seed      = 0; 
int      Runs      = 1; 
int      T         = 1500; 

int      n         = 4; 
int      G         = 8; 
int      H         = 100; 

double   b         = 2.000000; 
double   B         = 2.000000; 
double   cx        = 1.000000; 
double   cy        = 1.000000; 
double   cz        = 1.000000; 

unsigned L         = 2; 
double   k         = 0.250000; 
double   K         = 1.000000; 
double   delta     = 0.050000; 
double   DELTA     = 0.200000; 

double   Theta_u   = 0.100000; 
double   Theta_d   = 0.000000; 
double   Eta_u     = 0.000000; 
double   Eta_d     = 0.000000; 

unsigned Vop       = 1; 
double   m         = 0.100000; 
double   Rho       = 0.000000; 

double   x0        = 1.000000; 
double   y0        = 1.000000; 
double   z0        = 1.000000; 
double   X0        = 8.000000; 
double   Y0        = 8.000000; 

double   e        = 1.000000; 
double   E        = 1.000000; 

double   Sigma     = 0.100000; 
double   Sigma_t   = 0.100000; 
